header {
  position: absolute;
  display: inline;
  left: 50%;
  margin-top: 20px;
  margin-left: -256.5px;
}

.pepe-the-frog {
  max-height: 97px;
}

p {
  font-family: monospace;
}

.instructions {
  position: absolute;
  top: 130px;
}

.game {
  position: absolute;
  top: 170px;
  height: 500px;
  width: 800px;
  border: solid black 2px;
}

.finish {
  height: 75px;
  width: 800px;
  border: solid black 1px;
}

.start {
  position: relative;
  top: 348px;
  height: 75px;
  width: 800px;
  border: solid black 1px;
}

.game-info {
    position: absolute;
    top: 670px;
    width: 800px;
}

.player * {
  display: inline;
}

.icon {
  margin-bottom: -25px;
}

.start-game {
  float: right;
  margin-top: -60px;
}

.counter, p {
  margin-bottom: 6px;
  margin-top: 12px;
}

.start-button {
  width: 90px;
  height: 30px;
  background-color: #74cf75;
  border-radius: 7.5px;
  font-family: monospace;
  font-size: 16px;

}

footer {
  position: absolute;
  left: 50%;
  margin-left: -85.82px;
  top: 775px;
}